<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.mapper.itemMapper">
	<sql id="select-sql">
		select item_name,
			   item_price,
			   item_stock,
			   item_image
		from item
	</sql>
	<resultMap type="item" id="item-resultmap">
		<id column="item_name" property="itemName" />
		<result column="item_price" property="itemPrice"/>
		<result column="item_stock" property="itemStock"/>
		<result column="item_image" property="itemImage"/>
	</resultMap>
	<insert id="addItem" parameterType="item">
		insert into item values(#{itemName}, #{itemPrice}, #{itemStock},#{itemImage})
	</insert>
	<update id="updateItemByName" parameterType="item">
		update item
		set item_name = #{itemName},
			item_price = #{itemPrice},
			item_stock = #{itemStock},
			item_image = #{itemImage}
		where item_name = #{itemName}
	</update>
	<delete id="deleteItemByName" parameterType="String">
		delete from item where item_name = #{itemName}
	</delete>
	<select id="selectAllItem" resultMap="item-resultmap">
		<include refid="select-sql"></include>
	</select>
	<select id="selectItemByName" parameterType="String" resultMap="item-resultmap">
		<include refid="select-sql"></include>
		where item_name = #{value}
	</select>
</mapper>