<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.taeng.config.mapper.pcMapper">
	
	<resultMap type="pc" id="pc-resultmap">
		<id column="pc_num" property="pcNum"/>
		<result column="pc_cost" property="pcCost"/>
		<result column="member_id" property="id"/>
	</resultMap>

	<resultMap type="pc" id="pc-join-member-resultmap" extends="pc-resultmap">
		<association property="member" javaType="member">
			<id column="member_id" property="id"/>
			<result column="member_phonenum" property="phoneNum"/>
			<result column="member_personnum" property="personNum"/>
			<result column="member_pw" property="password"/>
			<result column="member_name" property="name"/>
			<result column="member_pctime" property="pcTime"/>
		</association>
	</resultMap>
	
	<select id="selectPCByNum" parameterType="_int" resultMap="pc-resultmap">
		select pc_num , pc_cost , member_id
		from pc 
		where pc_num = #{value}
	</select>
	
	<select id="selectPcNull" resultType="int">
		select pc_num
		from pc
		where member_id is null
	</select>
	
	<select id="selectPcid" resultType="string">
		SELECT member_id id
		FROM pc
		where pc_cost > 0 
	</select>
	
	<update id="updatePC" parameterType="pc">
		update	pc p
		set		p.pc_cost = #{pcCost},
				p.member_id = #{id}
		where	p.pc_num = #{pcNum}
	</update>
</mapper>